/* resize column */
.project-columns .project-column {
  min-width: 230px !important;
  max-width: 230px !important;
  margin-right: 5px !important;
}

/* remove author card */
div[id^=card-] small {
  display: none;
}

/* ajust title */
.mr-5 {
  margin-right:  20px !important;
}

/* remove author card */
div[id^=card-] svg {
 margin-right: 6px !important;
}
